<div class="container-fluid">
  <div class="card border-right-0 border-left-0 border-top-0">
    <div class="card-body">
      <h1><%= @idea.title %></h1>
      <p class="card-text">Created by <%= @idea.user.full_name %></p>
      <p class="card-text"><%= @idea.description %></p>
      <% if can?(:crud, @idea) %>
        <%= link_to "Edit", edit_idea_path(@idea.id), class: "btn btn-warning" %>
        <%= link_to "Delete", idea_path(@idea.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <% @reviews.each do |review| %>
        <p class="card-text">
          <%= review.body %>
          <br>
          <small>
            Reviewed <%= time_ago_in_words(review.created_at) %> ago by <%= review.user.first_name %>
          </small>
          <% if can?(:crud, review) %>
            <%= link_to "Delete", [@idea, review], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>  
          <% end %>
          <br>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= form_with model: [@idea, @review] do |f| %>
    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title">Review</h3>
        <div class="mb-3">
          <%= f.text_area :body, cols: 50, rows: 3, class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>