<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "Idea Factory", root_path, class: "navbar-brand" %>
        <div class="navbar-nav">
          <%= link_to "New Idea", new_idea_path, class: "nav-item nav-link" %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
